@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.experience {
  padding: 50px;
  background: #f4f4f9;
  color: #333;
  text-align: center;
}

.experience h2 {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: 500;
  color: #333;
}

.experience-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  transform: translateY(
    50px
  ); /* Increase the initial translateY value for more noticeable movement */
  transition: opacity 3.5s ease-out, transform 3.5s ease-out; /* Increase the duration to 1.5s */
}

.experience.in-view .experience-cards {
  opacity: 1;
  transform: translateY(0);
}

.experience-card {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
  transition: transform 0.2s;
}

.experience-card:hover {
  transform: translateY(-10px);
}

.card-header {
  display: flex;
  align-items: center;
}

.company-logo {
  width: 60px;
  height: auto;
  margin-right: 20px;
  border-radius: 8px;
}

.card-title {
  display: flex;
  flex-direction: column;
}

.card-title h3 {
  font-size: 1.5em;
  margin: 0;
  font-weight: 500;
}

.card-title .company {
  font-weight: 700;
  color: #0073e6;
  text-decoration: none;
  margin-top: 5px;
}

.card-title .company:hover {
  text-decoration: underline;
}

.card-title .date {
  color: #777;
  margin-top: 5px;
}

.card-description {
  margin-top: 20px;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.tech-stack img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .experience {
    padding: 20px;
  }

  .experience-cards {
    gap: 15px;
  }

  .experience-card {
    padding: 15px;
  }

  .company-logo {
    width: 50px;
  }

  .tech-stack img {
    width: 30px;
    height: 30px;
  }
}
